@import 'flexboxgrid-sass/flexboxgrid.scss';

body {
  color: white;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.background {
  background-color: #222;
  background-image: url('/assets/img/sewing.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;

  // &:after {
  //   content: '';
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, .2);
  //   z-index:-1;
  // }
}

.container {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.main-title {
  margin-top: 6rem;
  padding: 2em;
  background-color: rgba(0, 0, 0, .7);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  padding: 0 1rem;
  line-height: 3rem;
  text-align: right;
  color: $soft-color;
}
