html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $font-stack;
}

.main-title {
  position: absolute;
  font-size: 2em;
  font-weight: 300;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
